.block {
  padding-bottom: 3em;
  width: 100%;
}

.block:not(:last-of-type) {
  border-bottom: 0.1em solid black;
}

.block:not(:first-of-type) {
  padding-top: 3em;
}

.block > *:not(:last-child) {
  margin-bottom: 3em;
}
