.imageWrapper {
  aspect-ratio: 3 / 4;
  position: relative;
}

.image {
  object-fit: cover;
}

@supports not (aspect-ratio: 3 / 4) {
  .imageWrapper::before {
    float: left;
    padding-top: 133%;
    content: "";
  }

  .imageWrapper::after {
    display: block;
    content: "";
    clear: both;
  }
}
