.card {
  /*  width: 100%; */
}

.imageWrapper {
  /* max-width: 180px;
  height: 240px; */

  /*  height: calc(180px * 3 / 4); */

  aspect-ratio: 3 / 4;
  /*min-height: 240px; */
  position: relative;
}

.image {
  object-fit: cover;
}

.contentWrapper {
  position: relative;
  padding: 0.6rem;
}

.title {
  font-size: 13px;
  text-align: center;
  font-weight: 500;
  padding-bottom: 0.3rem;
}

.price {
  text-transform: uppercase;
  text-align: center;
  font-size: 13px;
}
