html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-height: 100vh;
  overflow: visible;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.activeLink {
  color: rgb(131, 13, 13);
}

p {
  line-height: 1.6rem;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

header {
  background-color: white;
  z-index: 0;
  overflow: visible;
}

@media (min-width: 1025px) {
  p {
    line-height: 1.6rem;
    font-size: 18px;
  }

  main {
    /*  min-height: calc(100vh - 200px); */
  }
}

/*min height 100vh - header and footer height*/
main {
  /* min-height: calc(100vh - 200px); */
  min-height: 70vh;
  margin-top: 40px;
}

.layoutContainer {
  height: 100%;
  position: relative;
  max-width: 1800px;
  margin: 0 auto;
}

/* .layoutContainer > footer {
  position: sticky;
  top: 100vh;
} */

@media (max-width: 1025px) {
  .overflowhidden {
    overflow: hidden;
  }
  .overflowVisible {
    overflow: visible;
  }
}
