.landingPage {
  height: 100%;
}
.imagesGallery {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.2em;
  margin-bottom: 1.2em;
}
.imageWrapper {
  position: relative;
  aspect-ratio: 16 / 9;
}
.image {
  object-fit: cover;
  object-position: left;
}

@media (min-width: 1025px) {
  .imagesGallery {
    grid-template-columns: repeat(2, 1fr);
  }
  .imageWrapper {
    aspect-ratio: 4 / 3;
  }
}

@supports not (aspect-ratio: 16 / 9) {
  .imageWrapper::before {
    float: left;
    padding-top: 56.25%;
    content: "";
  }
  .imageWrapper::after {
    display: block;
    content: "";
    clear: both;
  }
}

@supports not (aspect-ratio: 4 / 3) {
  .imageWrapper::before {
    float: left;
    padding-top: 75%;
    content: "";
  }
  .imageWrapper::after {
    display: block;
    content: "";
    clear: both;
  }
}
