.swiperWrapper {
  max-width: 500px;
}

.swiper {
  max-width: 500px;
}

.productImage {
  width: 100%;
  margin-bottom: 2em;
}

.productInfo {
  margin-top: 1rem;
}

.productInfo > *:not(:first-child) {
  margin-bottom: 0.8em;
}

.detail span:not(:first-of-type):before {
  content: "/";
}

.detail span:first-child {
  padding-left: 0.3em;
}

.detail span:before {
  padding: 0 0.3em;
}

.detail span::after {
  padding: 0 0.3em;
}

.productInfo h1 {
  font-weight: 500;
  font-size: 1.7rem;
  margin-bottom: 0.4em;
}

.price {
  font-weight: 500;
  border-bottom: 1px solid black;
  padding-bottom: 0.5em;
}

.size > * {
  margin-bottom: 0.8em;
}
.size ul {
  list-style: circle;
}
.size ul li {
  padding-bottom: 0.4em;
}

@media (min-width: 768px) {
  .productPage {
    display: flex;
    width: 100%;
    gap: 2em;
  }

  .productImage {
    max-width: 700px;
    min-width: 400px;
    margin-bottom: 0;
  }

  .productInfo {
    max-width: 400px;
  }
}

@media (min-width: 1025px) {
}
