.h1 {
  margin-bottom: 1em;
  font-weight: 500;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  grid-gap: 0.8em;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(4, minmax(100px, 1fr));
  }
}
