.productsPage {
  width: 100%;
}

.h1 {
  margin-bottom: 1em;
}

.filter {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  grid-gap: 10px;
  /*display: flex;
 column-gap: 1rem;
  flex-wrap: wrap;*/
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(4, minmax(100px, 1fr));
  }
}

@media (min-width: 1500px) {
  .grid {
    grid-template-columns: repeat(5, minmax(100px, 1fr));
  }
}
